PyYAML>=6.0.2
Pillow>=11.0.0
whois>=1.20240129.2
mojang>=1.1.0
discord.py>=2.4.0
audioop-lts>=0.2.0; python_version>='3.13'

git+https://github.com/Rapptz/discord-ext-menus@master#egg=discord-ext-menus
git+https://github.com/Gelbpunkt/aiowiki
